main {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    max-width: 45rem;
}


legend {
    font-weight: bold;
    font-size: var(--text-l);
}

field > p {
    margin-bottom: 0;
}

.select {
    display: flex;
    flex-direction: column;
}